<!doctype html>
<html>	
	<head> 
<!--Load all external dependencies -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="stylesheet.css">
		<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="functions.js"></script>
	</head>
	</head>
	<body>
<!--Controls what displays on the browser tab-->
		<title>Combo Board Generator</title>
		<!--Navigation Bar-->
		<div class="topnav" id="myTopnav">
    	  <img class="logo" src="https://u.realgeeks.media/tiera/logo.png" width="150" height="70">
		  <a class="active" href="/">Home</a>
		  <a target="_blank" href="https://boards.realgeeks.com/">Boards List</a>
		  <a target="_blank" href="https://mcp.realgeeks.com/admin/mcp/board/">MCP Boards</a>
		  <a href="/about">Instructions</a>
		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    	  <i class="fa fa-bars"></i>
    	</a>
		</div>
		<h1><center>Welcome To The Wonderful World Of Automatic Combo Board Creation!</center></h2><br>
		<ol type="1">
		  <li>Create the combo board in MCP</li>
		  <p> You can create a board in MCP by going to the following <a href="https://mcp.realgeeks.com/admin/mcp/board/">LINK</a> and clicking on the add board button in the top right hand corner</p>
		  <li>Create a Zendesk Ticket with the following information:</li>
		  <li>Assign the ticket to the Boards Support queue in Zendesk</li>
		</ol>
	</body>
</html>