<!doctype html>
<html>	
	<head> 
		<link href="<%= url('/stylesheet.css') %>" rel="stylesheet" type="text/css" />
		<div class="topnav">
		  <a class="active" href="#home">Home</a>
		  <a target="_blank" href="https://boards.realgeeks.com/">Boards List</a>
		  <a target="_blank" href="https://mcp.realgeeks.com/admin/mcp/board/">MCP Boards</a>
		  <a href="#about">Instructions</a>
		</div>

		<title>Combo Board Generator</title>
	</head>

	<body>
		<h1> Combo Board Generator</h1>
	</body>
</html>
