---
http_interactions:
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/boards/408/?fields=BOARD_NAME%2CRG_BOARDS%2CPROPERTY_DETAILS%2CSEARCH_FIELDS%2CSEARCH_FORMS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"BOARD_NAME": "Board #45 - NTREIS", "RG_BOARDS": [45], "PROPERTY_DETAILS":
        "", "SEARCH_FIELDS": "", "SEARCH_FORMS": "", "ID": 408}]'
  recorded_at: Mon, 10 Oct 2022 17:35:29 GMT
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/boards/?fields=ID%2CRG_BOARDS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"RG_BOARDS": [1278], "ID":[...]
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/boards/1338/?fields=BOARD_NAME%2CID%2CPROPERTY_DETAILS%2CRG_BOARDS%2CSEARCH_FIELDS%2CSEARCH_FORMS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"BOARD_NAME": "Board #(405, 257, 45) - Trestle(CTEXAS) & WACO, NTREIS",
        "PROPERTY_DETAILS": "", "RG_BOARDS": [405, 257, 45, 1405], "SEARCH_FIELDS":
        "", "SEARCH_FORMS": "", "ID": 1338}]'
  recorded_at: Mon, 10 Oct 2022 17:35:30 GMT
[...]
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/boards/1130/?fields=BOARD_NAME%2CID%2CPROPERTY_DETAILS%2CRG_BOARDS%2CSEARCH_FIELDS%2CSEARCH_FORMS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"BOARD_NAME": "Board #(5031, 45, 119) - Austin, NTREIS & SABOR",
        "PROPERTY_DETAILS": "", "RG_BOARDS": [5031, 45, 119], "SEARCH_FIELDS": "",
        "SEARCH_FORMS": "", "ID": 1130}]'
  recorded_at: Mon, 10 Oct 2022 17:35:44 GMT
recorded_with: VCR 6.1.0
