---
http_interactions:
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/sites/?fields=SITE_UUID%2CBOARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"BOARD": "499", "SITE_UUID": "0b365832-99ec-43d2-811f-264d8a634cb9"},
        {"BOARD": "1660", "SITE_UUID": "4b7ed22a-6a6e-417e-96df-bee610358a3c"}, {"BOARD":
        "438", "SITE_UUID": "c6ad5fa9-a966-468f-8272-475371432775"}, {"BOARD": "467",
        "SITE_UUID": "073b8947-a2e5-4471-8045-da95db4e1d2f"}, {"BOARD": "389", "SITE_UUID":
        "808750d9-99bd-4307-ac1c-e6b68f4146e3"}, {"BOARD": "463", "SITE_UUID": "32718e6c-0e75-42d5-9a41-0bebf5446e61"},
        {"BOARD": "623", "SITE_UUID": "3bfc8ac0-edf1-4a0e-b0dd-b148831[...]
- request:
    method: get
    uri: https://mcp-api.realgeeks.com/api/v2/sites/b6989282-e77f-4ce4-abc2-304ef0c095ba/?fields=BOARD%2CSITE_NAME%2CSITE_DOMAIN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic OmE5OHNkZnl1OXBhc3VpZmR1amFzZGZsYWhzZGY5OGFzMG9pZnVhc2RmbGtu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"BOARD": "1902", "SITE_NAME": "Tieratest.com", "SITE_DOMAIN": "www.tieratest.com"}]'
  recorded_at: Tue, 11 Oct 2022 17:45:59 GMT
recorded_with: VCR 6.1.0
